.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.App-header p {
  margin: 0;
}

.btn-logout {
  margin-left: auto;
}

.App-body {
  background-color: #3f4247;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  top: 0;
}

.App-body .row {
  margin: 0;
}

.card {
  color: black;
  text-align: left;
  margin: 10px;
  border: 0;
  height: fit-content;
}

.card-text {
  font-size: medium;
}

button.deleteCharacter {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo{
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
